<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/app.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.js"></script>
     <meta charset="utf-8">
    <title>CRM Test3</title>
  </head>
  <body>
    <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="users icon"></i>CRM Site</div>
                <a href="/" class="item">Home</a>
                <a href="/customers/new" class="item">New Customer</a>
                <form  method="POST" action="/logout">
                  <button class="ui button item" type="submit"><a class="item">Logout</a></button>
                </form>

            </div>
        </div>
