<% include ./partials/header %>
<script src="/scripts/emailForm.js"></script>
<div class="ui container" id="cusomersDisplay">

  <div class="ui container" id="emailFormMain">
  <form class="ui form" action="/emailSend" method="POST">
    <div class="ui huge header">Send an Email</div>
    <div class="field">
      <label>Template</label>
      <div class="fields">
        <div class="field">
          <select id="emailTemplateSelector" class="ui fluid search dropdown" name="template">
            <% templates.forEach(function(template) { %>
                <option value=""><%= template.id %></option>
          <%  }); %>
          </select>
        </div>
      </div>
    </div>
    <a href="#" id="emailPreviewButton" class="ui button" type="button">Preview</a>
    <%# Modal for the email preview%>
    <div class="ui modal" id="emailPreview">
      <div class="ui icon header">
        <i class="mail icon"></i>
        <%= indevidualTemplates.name %>
      </div>
        <%= indevidualTemplates.content.html %>
      <div class="actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green ok inverted button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
    <div class="field">
      <label>Subject</label>
      <input type="text" name="subject" value="" placeholder="Subject">
    </div>
    <div class="field">
      <label>Body</label>
      <textarea type="text" name="emailText" value="" placeholder=""></textarea>
    </div>
    <button class="ui button" type="submit">Send</button>
    <a href="/"  class="ui button" type="button">Cancel</a>
  </form>
  </div>
</div>
<% include ./partials/footer %>
