<% include ./partials/header %>

<div class="ui container" id="cusomersDisplay">

  <div class="ui container" id="newCusFormMain">
    <div class="ui huge header">Send an Email</div>
    <form class="ui form" action="/emailSend" method="POST">
    <div class="field">
      <label>Subject</label>
      <input type="text" name="" value="" placeholder="Subject">
    </div>
    <div class="field">
      <label>CC</label>
      <input type="text" name="" value="" placeholder="CC">
    </div>
    <div class="field">
      <label>Body</label>
      <input type="text" name="" value="" placeholder="">
    </div>
    <button class="ui button" type="submit">Send</button>
    <button class="ui button" type="cancel">Cancel</button>
  </form>
  </div>
</div>
<% include ./partials/footer %>
