<% include ./partials/header %>
  <div id="mastheadStyle" class="ui large inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">Simple Thing CRM</h1>
      <h2>Customers come to you, we take care of the rest.</h2>
        <a class="ui inverted huge primary blue button" href="/userNew">Get Started</a>
      </div>

    </div>
</div>
<% include ./partials/footer %>
